$bc_default_primary : #01385e ;
$bc_service_areas_bg_color : #5692b9 ;
$bc_hero_bg: url('../img/banner.jpg'); 
$bc_locations_bg:url('../img/bg_local.png');
$bc_choose_us_height:250px;
$bc_locations_secondary_text:#f59b26;
$bc_coupon_border_style: dotted;
$bc_footer_copyright_links_color:#4d4d4d;
$bc_contact_form_label_color:#fff;

$form_input:(
    padding: 12px !important,
    border-radius: 4px !important,
    border: none
);
$submit_btn:(
    background: #ed9724,
    border: none,
    padding: 8px 23px,
    color: #fff,
    border-radius: 7px,
);

.gform_wrapper {

	.gform_title{
		text-align:center;
		color:$bc_contact_form_label_color;
	}
	.top_label{
		input.medium{
			width:calc(100% - 8px) !important;
		}
		select.medium{
			width:calc(100% - 8px) !important;
		}

		div.ginput_container {
			margin-top:0px !important;;
		}
	}
	ul{
		li.gfield{
			margin-top:0px !important;;
			padding-left:16px !important;;
			.medium{
				padding:map-get($form_input, padding);
				border:{
					radius: map-get($form_input, border-radius);
					style: map-get($form_input, border);
				}
			}
		}
		
	}
	
}
 
input[type="submit"]{
	background:map-get($submit_btn, background);
	padding:map-get($submit_btn, padding);
	color:map-get($submit_btn, color);
	border:{
		radius: map-get($form_input, border-radius);
		style: map-get($form_input, border);
	}
}

.no_hover_underline:hover{
	text-decoration:none;
}
.bc_service_areas_container{
	background-color:$bc_service_areas_bg_color;
}
.bc_contact_form_full {
	label{
		color:$bc_contact_form_label_color;
	}
}  			
.bc_footer_copyright_bar{ 
	.bc_footer_copyright_links{
		color:$bc_footer_copyright_links_color;
	}
}
.bc_choose_us_text{
	height: $bc_choose_us_height;
}
.bc_coupon_container{
	border-style:$bc_coupon_border_style
}
.bc_home_section_bg{
	background-repeat:no-repeat;
	background-size: cover;
}
.bc_default_primary{
	background-color:$bc_default_primary;
}
.bc_hero_container{
      background-image:$bc_hero_bg;
}
.bc_locations_container{
	background-image:$bc_locations_bg;
	.bc_locations_secondary_text {
		color:$bc_locations_secondary_text;
	}
}