// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Anton|Pacifico|Roboto&display=swap);

// Font Variables
$bc_roboto: 'Roboto';   
$bc_anton: 'Anton';
$bc_pacifico: 'Pacifico';
// Styles
body {
  font-family: $bc_roboto;
  font-weight: normal;
}


$bc_font_weight:100 !important;
$bc_default_primary : #01385e ;
$bc_hero_bg_form_color:#116eab; 
$bc_service_areas_bg_color : #5692b9 ;
$bc_blog_heading_color:#00395e;
$border_width_custom_2: 2px !important ;
$bc_hero_bg: url('../img/banner.jpg'); 
$bc_locations_bg:url('../img/bg_local.png');
$bc_choose_us_height:250px;
$bc_locations_secondary_text:#f59b26;
$bc_coupon_border_style: dotted;
$bc_footer_copyright_links_color:#4d4d4d;
$bc_contact_form_label_color:#fff;
$bc_about_bg:#ebebeb;

.bc_hero_bg_form_color{
	background-color:$bc_hero_bg_form_color;
}
.border_width_custom_2{
border-width:$border_width_custom_2;
}
.bc_about_bg{
	background-color:$bc_about_bg;
}
.bc_blog_heading_color{
	color:$bc_blog_heading_color;
}
$form_input:(
    padding: 12px !important,
    border-radius: 4px !important,
    border: none
);
.bc_hero_btn_bg_color{
	background-color:#f38527;}

$submit_btn:(
    background: #f38527,
    border: none,
    padding: 8px 23px,
    color: #fff,
    border-radius: 7px,
);
.dropdown-item:hover{background-color:#f38527 !important;}
.gform_wrapper {

	.gform_title{
		text-align:center;       
		color:$bc_contact_form_label_color;
	}
	.top_label{
		input.medium{
			width:calc(100% - 8px) !important;
		}
		select.medium{
			width:calc(100% - 8px) !important;
		}

		div.ginput_container {
			margin-top:0px !important;;
		}
	}
	ul{
		li.gfield{
			margin-top:0px !important;;
			padding-left:16px !important;;
			.medium{
				padding:map-get($form_input, padding);
				border:{
					radius: map-get($form_input, border-radius);
					style: map-get($form_input, border);
				}
			}
		}
		
	}
	
}
 
input[type="submit"]{
	background:map-get($submit_btn, background);
	padding:map-get($submit_btn, padding);
	color:map-get($submit_btn, color);
	border:{
		radius: map-get($form_input, border-radius);
		style: map-get($form_input, border);
	}
}

.no_hover_underline:hover{
	text-decoration:none;
}
.bc_service_areas_container{
	background-color:$bc_service_areas_bg_color;
}
.bc_contact_form_full {
	label{
		color:$bc_contact_form_label_color;
	}
}  			
.bc_footer_copyright_bar{ 
	.bc_footer_copyright_links{
		color:$bc_footer_copyright_links_color;
	}
}
.bc_choose_us_text{
	height: $bc_choose_us_height;
}
.bc_coupon_container{
	border-style:$bc_coupon_border_style
}
.bc_home_section_bg{
	background-repeat:no-repeat;
	background-size: cover;
}
.bc_default_primary{
	background-color:$bc_default_primary;
}
.bc_hero_container{
      background-image:$bc_hero_bg;
}
.bc_locations_container{
	background-image:$bc_locations_bg;
	.bc_locations_secondary_text {
		color:$bc_locations_secondary_text;
	}
}


.bc_contact_page_form_wrapper{
	.gform_title{
			    font-family: $bc_pacifico;
				font-size: 26pt !important;
				text-align: left;
				font-weight:$bc_font_weight;
				color: #00395e;
				}
				.gfield {
						input{
								padding: 10px 5px !important;
								border-radius: 6px;
								border: solid;
								border-width: 1px;
								border-color: #ccc;
								margin-bottom: 15px;
							 }

						label{
								color: #4d4d4d;
								font-size: 14px !important;
								margin: 0px;
							}

							select{
								padding: 10px 5px !important;
								border-radius: 6px;
								border: solid;
								border-width: 1px;
								border-color: #ccc;
								margin-bottom: 15px;
							 }
							
						}
}
.gform_wrapper ul li.gfield .medium {
    border-style: solid !important;
}
h2.text-white.text-center.mb-0.pb-3.pt-3 {
    font-weight:$bc_font_weight;
    font-family: $bc_pacifico;
}