.gform_wrapper .top_label input.medium {
  width: calc(100% - 8px) !important; }

.gform_wrapper .top_label select.medium {
  width: calc(100% - 8px) !important; }

.gform_wrapper .top_label div.ginput_container {
  margin-top: 0px !important; }

.gform_wrapper ul li.gfield {
  margin-top: 0px !important; }

.gform_wrapper ul.gform_fields li.gfield {
  padding-left: 16px !important; }

.medium {
  padding: 12px !important;
  border-radius: 4px !important;
  border: none; }

input[type="submit"] {
  background: #ed9724;
  padding: 8px 23px;
  border: none;
  color: #fff;
  border-radius: 7px; }

.gform_title {
  text-align: center;
  color: #fff; }

.remove_underline:hover {
  text-decoration: none !important; }

.bg_second {
  background-color: #5692b9; }

label {
  color: #fff; }

.cover {
  background-size: cover; }

.theme_btn {
  background-color: #f28028; }

.text_color_footer {
  color: #4d4d4d; }

.height_choose {
  height: 250px; }

.border_type {
  border-style: dotted; }

.no_repeat {
  background-repeat: no-repeat; }

.text_color {
  color: #f59b26; }

.theme_color {
  background-color: #01385e; }

.img_banner {
  background-image: url("../img/banner.jpg"); }

.local_bg {
  background-image: url("../img/bg_local.png"); }
