@import url(https://fonts.googleapis.com/css?family=Anton|Pacifico|Roboto&display=swap);
body {
  font-family: "Roboto";
  font-weight: normal; }

.bc_hero_bg_form_color {
  background-color: #116eab; }

.border_width_custom_2 {
  border-width: 2px !important; }

.bc_about_bg {
  background-color: #ebebeb; }

.bc_blog_heading_color {
  color: #00395e; }

.bc_hero_btn_bg_color {
  background-color: #f38527; }

.dropdown-item:hover {
  background-color: #f38527 !important; }

.gform_wrapper .gform_title {
  text-align: center;
  color: #fff; }

.gform_wrapper .top_label input.medium {
  width: calc(100% - 8px) !important; }

.gform_wrapper .top_label select.medium {
  width: calc(100% - 8px) !important; }

.gform_wrapper .top_label div.ginput_container {
  margin-top: 0px !important; }

.gform_wrapper ul li.gfield {
  margin-top: 0px !important;
  padding-left: 16px !important; }
  .gform_wrapper ul li.gfield .medium {
    padding: 12px !important;
    border-radius: 4px !important;
    border-style: none; }

input[type="submit"] {
  background: #f38527;
  padding: 8px 23px;
  color: #fff;
  border-radius: 4px !important;
  border-style: none; }

.no_hover_underline:hover {
  text-decoration: none; }

.bc_service_areas_container {
  background-color: #5692b9; }

.bc_contact_form_full label {
  color: #fff; }

.bc_footer_copyright_bar .bc_footer_copyright_links {
  color: #4d4d4d; }

.bc_choose_us_text {
  height: 250px; }

.bc_coupon_container {
  border-style: dotted; }

.bc_home_section_bg {
  background-repeat: no-repeat;
  background-size: cover; }

.bc_default_primary {
  background-color: #01385e; }

.bc_hero_container {
  background-image: url("../img/banner.jpg"); }

.bc_locations_container {
  background-image: url("../img/bg_local.png"); }
  .bc_locations_container .bc_locations_secondary_text {
    color: #f59b26; }

.bc_contact_page_form_wrapper .gform_title {
  font-family: "Pacifico";
  font-size: 26pt !important;
  text-align: left;
  font-weight: 100 !important;
  color: #00395e; }

.bc_contact_page_form_wrapper .gfield input {
  padding: 10px 5px !important;
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 15px; }

.bc_contact_page_form_wrapper .gfield label {
  color: #4d4d4d;
  font-size: 14px !important;
  margin: 0px; }

.bc_contact_page_form_wrapper .gfield select {
  padding: 10px 5px !important;
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 15px; }

.gform_wrapper ul li.gfield .medium {
  border-style: solid !important; }

h2.text-white.text-center.mb-0.pb-3.pt-3 {
  font-weight: 100 !important;
  font-family: "Pacifico"; }
